page-menu-aula {

    .tamano{
    font-size: 22px;
    text-align: left;
    font-weight:bold;      
    }
    body {
        background-image: url('../assets/img/menuqr.jpg');
      //  background-color: #cccccc;
    }
}
